$body-color: hsl(0, 0%, 40%);
$body-color-a: hsla(216, 100%, 66%, 0.805);

$theme-header-nav-bg: hsl(0, 0%, 90%);
$theme-header-nav-a: hsla(216, 100%, 66%, 0.805);

$theme-copyright-color: hsl(0, 0%, 50%);
$theme-copyright-a: hsl(0, 0%, 40%);
$theme-copyright-bg-color: hsl(45, 100%, 50%);